{% extends "_layout/_base.njk" %}

{% block content %}

    <section class="section">
        <div class="w-content">
            <h1>This is the title</h1>
            <h2>This is the title</h2>
            <h3>This is the title</h3>
            <h4>This is the title</h4>
            <h5>This is the title</h5>
            <h6>This is the title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
            <ul>
                <li>This is a list item</li>
                <li>This is a list item</li>
                <li>This is a list item</li>
                <li>This is a list item</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
            <ol>
                <li>This is a list item</li>
                <li>This is a list item</li>
                <li>This is a list item</li>
                <li>This is a list item</li>
            </ol>
        </div>
    </section>
    
{% endblock %}