{% extends "_layout/_base.njk" %}

{% block content %}

    <section class="section section--first">
        <div class="wrapper">
            <h1>Content rules</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
            <h2>Grid</h2>
            <div class="gm gm--half">
                <div class="g-col">
                    <h3>Mobile halves</h3>
                </div>
                <div class="g-col">
                    <h3>Mobile halves</h3>
                </div>
            </div>
            <div class="gm gt--third">
                <div class="g-col">
                    <h3>Tablet thirds</h3>
                </div>
                <div class="g-col">
                    <h3>Tablet thirds</h3>
                </div>
                <div class="g-col">
                    <h3>Tablet thirds</h3>
                </div>
            </div>
            <div class="gm gd--quarter">
                <div class="g-col">
                    <h3>Desktop quarters</h3>
                </div>
                <div class="g-col">
                    <h3>Desktop quarters</h3>
                </div>
                <div class="g-col">
                    <h3>Desktop quarters</h3>
                </div>
                <div class="g-col">
                    <h3>Desktop quarters</h3>
                </div>
            </div>
            <div class="w-content">
                <h1>This is the title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <h2>This is the title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <h3>This is the title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <h4>This is the title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <h5>This is the title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <h6>This is the title</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <ul>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, odit, aliquid laborum, assumenda impedit sunt maxime laudantium molestias similique minus neque pariatur incidunt dolor esse eos! Nesciunt dolore earum ea.</p>
                <ol>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                    <li>This is a list item</li>
                </ol>
            </div>
        </div>
    </section>
    
{% endblock %}