{% extends "_layout/_base.njk" %}
{% block bodyClass %} is-home{% endblock %}

{% block content %}

<section class="section section--bg section--min-height">
    <div class="wrapper wrapper--thin">
        <h1 class="u-center">JayBox</h1>
    </div>
</section>

{% endblock %}