{% extends "_layout/_base.njk" %}

{% block content %}

<section class="section section--first">
    <div class="wrapper">
        <h1>This is the title</h1>
        <h2>This is the title</h2>
        <h3>This is the title</h3>
        <h4>This is the title</h4>
        <h5>This is the title</h5>
        <h6>This is the title</h6>
        </div>
</section>

{% endblock %}