{% extends "_layout/base.njk" %}
{% block bodyClass %} is-home{% endblock %}

{% block content %}

<section class="section section--bg section--min-height">
    <div class="wrapper w-content">
        <h1>JayBox</h1>
        <p>In do nisi commodo non sint labore et. Tempor elit consectetur eu consequat non sunt anim elit Lorem. Consequat labore do incididunt proident nisi veniam aliquip occaecat qui esse voluptate aliquip commodo.</p>

        <p>Et cillum eiusmod sint commodo adipisicing dolor voluptate Lorem reprehenderit ex. Laboris sint Lorem ex nisi sunt nulla nulla incididunt. Nisi occaecat amet exercitation Lorem dolor in velit excepteur. Ullamco non laborum adipisicing ad anim cupidatat. Sit qui eiusmod do esse.</p>

        <h2>Heading's are nice looking when they're styled properly</h2>

        <p>Qui dolore adipisicing duis amet enim excepteur ut veniam adipisicing quis. Non sint duis nisi nostrud nisi adipisicing mollit cillum dolor. Duis proident est aliquip adipisicing commodo ullamco nostrud cillum occaecat qui officia magna.</p>

        <p>Sit dolore est id reprehenderit pariatur adipisicing. Officia deserunt aute nostrud minim in mollit do. Reprehenderit proident quis aliqua excepteur duis reprehenderit aute est quis esse. Ad magna aute qui fugiat aliqua elit exercitation culpa deserunt magna dolor. Quis ullamco id deserunt ipsum ullamco id amet elit sint id anim magna fugiat. Ut reprehenderit ut sunt duis irure cupidatat aute voluptate laboris elit ut. Esse labore eiusmod voluptate laborum ad commodo aliqua dolor laboris enim culpa elit.</p>

        <h3>This is a heading</h3>

        <p>Irure proident sunt ut sint laboris labore officia et incididunt adipisicing aute veniam. Elit eiusmod voluptate qui reprehenderit do nulla voluptate Lorem. Anim adipisicing veniam ipsum esse ullamco pariatur laborum tempor Lorem duis. Pariatur eiusmod in cupidatat ea esse ea veniam consectetur. Aliqua reprehenderit nulla in eiusmod ad proident labore ex reprehenderit. Nostrud irure cillum ex enim.</p>

        <p>Officia ut veniam sint tempor anim culpa. Veniam magna est ad et minim. Ipsum aliqua veniam voluptate ad quis incididunt ut. Et consequat aute irure tempor.</p>
    </div>
</section>

{% endblock %}