// @include box-shadow(0, 0, 0, 2px, $black, inset);
@mixin box-shadow($horz, $vert, $blur, $spread, $color, $inset: false) {
    @if $inset == true {
        box-shadow: inset $horz $vert $blur $spread $color;
    } @else {
        box-shadow: $horz $vert $blur $spread $color;
    }
}

// @include gradient(45deg, $black, transparent);
@mixin gradient($angle, $startCol, $endCol) {
    background: linear-gradient($angle, $startCol 0%, $endCol 100%);
}

// @include headerFont();
@mixin headerFont() {
    font-family: $headerFont;
    text-transform: uppercase;
    font-weight: bold;
}