@include mq($from: $bp-desktop) {
	// mobile columns
	.gd {
		lost-flex-container: row;
	}

	// Two even columns
	.gd--half {
		> * {
			lost-column: 1/2 2 40px flex;
		}
	}

	// Three columns split into thirds
	.gd--third {
		> * {
			lost-column: 1/3 3 40px flex;
		}
	}

	// Four columns split into quarters
	.gd--quarter {
		> * {
			lost-column: 1/4 4 40px flex;
		}
	}

	// Two columns split 2/3 and 1/3 (sidebar on the right)
	.gd--right-sb {
		> * {
			&:first-child {
				lost-column: 2/3 2 40px flex;
			}

			&:last-child {
				lost-column: 1/3 2 40px flex;
			}
		}
	}

	// Two columns split 1/3 and 2/3 (sidebar on the left)
	.gd--left-sb {
		> * {
			&:first-child {
				lost-column: 1/3 2 40px flex;
			}

			&:last-child {
				lost-column: 2/3 2 40px flex;
			}
		}
	}
}
