// Colours
$white:						#ffffff;
$black:						#444444;

$greyLight:                 #E8E8E8;

// Misc
$headerHeight:              100px;
$maxWidth:                  1400px;

// Breakpoints
$bp-mobile:					320px;
$bp-lg-mobile:				500px;
$bp-sm-tablet:				660px;
$bp-tablet:					768px;
$bp-desktop:				980px;
$bp-wide:					1100px;
$bp-super-wide:				1400px;