<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="ie">    <![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>
	{# Meta #}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>JayBox</title>

	{# Styles #}
	<link rel="stylesheet" href="./public/assets/styles/styles.css">
</head>
<body>

	<!--[if lt IE 9]><p class='ie-browsehappy'>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<span class="loading">
		<span class="loading__bar"></span>
	</span>

	<div class="site" id="barba-wrapper">

		<div class="site-wrap{% block bodyClass %}{% endblock %} barba-container">
			{% include "_layout/_header.njk" %}
			{% block content %}{% endblock %}
			{% include "_layout/_footer.njk" %}
		</div>
	</div>

	{# Jquery and bundle.js #}
	<script src="./public/assets/js/jquery-3.2.1.min.js"></script>
	<script src="./public/assets/js/bundle.js"></script>

</body>
</html>