<!DOCTYPE html>
<html lang="en">
<head>
	{# Meta #}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>JayBox</title>

	{# Styles #}
	<link rel="stylesheet" href="./public/assets/styles/styles.css">

	{# Font #}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

	<div class="site" id="barba-wrapper">
		{% include "_layout/_header.njk" %} 

		<div class="site-wrap barba-container">
			{% block content %}{% endblock %}
			{% include "_layout/_footer.njk" %}
		</div>
	</div>

	{# Jquery and bundle.js #}
	<script src="./public/assets/js/jquery-3.2.1.min.js"></script>
	<script src="./public/assets/js/bundle.js"></script>

</body>
</html>