<header class="header">

	{# Header logo #}
	<a href="/" class="header__link">
		<img src="http://placehold.it/800x900"  class="header__logo" alt="Header logo">
	</a>

	{# Checkbox for navigation #}
	<input type="checkbox" class="menu__checkbox" id="menu">

	{# Hamburger icon #}
	<label for="menu" class="menu__hamburger">
		<span></span>
		<span></span>
		<span></span>
	</label>

	{# Naviagtion menu#}
	<nav class="menu__wrapper">
		<ul class="menu__list r-ul">
			<li class="menu__item"><a href="/" class="menu__link">Home</a></li>
			<li class="menu__item"><a href="#"class="menu__link">Menu item</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Item two</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Another item</a></li>
		</ul>
	</nav>
</header>