<footer class="site-footer">
    <div class="wrapper">
        <h4>JayBox</h4>
        <p>A gulp framework with plenty of tasks to take care of styling, scripts, image compression and speedier markup through Nunjucks.</p>
        <p>Inspired from my time at Our Name is Mud and their MudStone framework.</p>
        <p>I wanted to build a cornerstone framework from scratch for myself using technologies I liked and something I can grow over time.</p>
    </div>
</footer>
<div style="display:none;">{% include "_layout/svg-symbols.njk" %}</div>