// mobile columns

.gm {
	lost-flex-container: row;
}


// Two even columns
.gm--half {
	> * {
		lost-column: 1/2 2 gutter(1.5) flex;
	}
}

// Three columns split into thirds
.gm--third {
	> * {
		lost-column: 1/3 3 gutter(1.5) flex;
	}
}

// Four columns split into quarters
.gm--quarter {
	> * {
		lost-column: 1/4 4 gutter(1.5) flex;
	}
}

// Two columns split 2/3 and 1/3 (sidebar on the right)
.gm--right-sb {
	> * {
		&:first-child {
			lost-column: 2/3 2 gutter(1.5) flex;
		}

		&:last-child {
			lost-column: 1/3 2 gutter(1.5) flex;
		}
	}
}

// Two columns split 1/3 and 2/3 (sidebar on the left)
.gm--left-sb {
	> * {
		&:first-child {
			lost-column: 1/3 2 gutter(1.5) flex;
		}

		&:last-child {
			lost-column: 2/3 2 gutter(1.5) flex;
		}
	}
}
