html {
    body {
        overflow: hidden;
    }

    .site {
        opacity: 0;
    }

    &.wf-active,
    &.wf-inactive {
        body {
            overflow: visible;
        }
        
        .site {
            opacity: 1;
            transition: opacity .5s ease-in-out .2s;
        }
    }
}