.icon--calendar {
  width: 24px;
  height: 24px;
}

.icon--email {
  width: 20.72px;
  height: 13.26px;
}

.icon--facebook {
  width: 8.2px;
  height: 17px;
}

.icon--instagram {
  width: 18px;
  height: 18px;
}

.icon--twitter {
  width: 22.2px;
  height: 18px;
}

