html.wf-active {
    .site {
        opacity: 1;
    }
}

.site {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.3;
}

a:active,
a:hover {
	outline-width: 0;
}





// Headings
.heading-1,
h1 {
    font-size: 140%;
    line-height: 1.3;
    font-weight: 700;
}

.heading-2,
h2 {
    font-size: 220%;
	font-weight: 500;
}

.heading-3,
h3 {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.2
}

.heading-4,
h4 {
    font-size: 140%;
    font-weight: 700;
    line-height: 1.2;
}

.heading-5,
h5 {
    font-size: 160%;
	font-weight: 500;
}

.heading-6,
h6 {
    font-size: 120%;
	font-weight: 500;
}





// Base
p {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }

    a {
        border-bottom: 1px solid;
        transition: color 200ms ease-in-out;
        &:hover {
            color: blue;
        }
    }
}

a {
	text-decoration: none;
	color: inherit;
}

@include mq($from: $bp-sm-tablet) {
    .heading-1,
    h1 {
        font-size: 180%;
    }
    .heading-4,
    h4 {
        font-size: 150%;
    }
}

@include mq($from: $bp-tablet) {
    .heading-4,
    h4 {
        font-size: 160%;
    }
}