html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: $black;
    font-family: $montserrat;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

a:active,
a:hover {
	outline-width: 0;
}

i,em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}


// Headings
h1,
h2,
h3,
h4,
h5{
	font-weight: 700;
	margin-bottom: $baseline;
}

.heading-1,
h1 {
    font-size: 30px;
    line-height: 1.3;
}





// Base
p {
	line-height: $baseline;
    margin-bottom: $baseline;
    
    &:last-child {
        margin-bottom: 0;
    }

    a {
        border-bottom: 1px solid;
        transition: color 200ms ease-in-out;
        color: inherit;
    }
}

a {
	text-decoration: none;
	color: inherit;
    transition: color .3s ease-in-out;
}

$headings-list: h1 h2 h3 h4 h5;
$variables-list: $h1 $h2 $h3 $h4 $h5;

@each $current-heading in $headings-list {
    $i: index($headings-list, $current-heading);
    #{$current-heading} {
        font-size: nth($variables-list, $i);
        line-height: calc(#{nth($variables-list, $i)} * 1.25);
        margin-top: calc((#{$baseline} - #{nth($variables-list, $i)}) + (#{$baseline} * 2));
    }
}