.footer {
    background: $white;
    padding: 40px 0;
}

@include mq($from: $bp-tablet) {
    .footer {
        padding: 60px 0;
    }
}

@include mq($from: $bp-desktop) {
    .footer {
        padding: 80px 0;
    }
}

@include mq($from: $bp-wide) {
    .footer {
        padding: 100px 0;
    }
}