*,
*::before,
*::after {
	box-sizing: border-box;
}


body {
	background: $black;
	color: $black;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.menu-is-active {
		overflow: hidden;
	}
}

.site {
	font-size: 16px;
	line-height: 1.6;
	background: $greyLight;
	min-height: 100vh;
}

.site-wrap {
	padding-top: $headerHeightMob;
	position: relative;
	&.has-hero {
		padding-top: 0;
	}
}

.wrapper {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	padding: 0 20px;
}


@include mq($from: $bp-tablet) {
	.site {
		font-size: 17px;
	}
	.wrapper {
		padding: 0 40px;
	}
}

@include mq($from: $bp-desktop) {
	.site-wrap {
		padding-top: $headerHeightDesk;
	}
}

@include mq($from: $bp-wide) {
	.site {
		font-size: 18px;
	}
}

@include mq($from: $bp-super-wide) {
	.site-wrap {
		padding-top: $headerHeightWide;
	}
}

@include mq($from: $bp-widest) {
	.wrapper {
		padding: 0;
	}
}